extends layout

block content
	body.home-page
		.header-wrapper
			.header
		.homepage-container
			.login-container
				a.sb-twitter(href="/v1/authtw") 
				a.sb-facebook(href="/v1/authfb") 
		include footer
		// JavaScript at the bottom for fast page loading 

