extends layout

block content
	body.gender-page
		.header-wrapper
			.header
		.gender-container
			.choose-gender-box
				form(method='post', action='/v1/chat')
					button#but-male.male(type='button')
						input(type='radio', id='gender-m', name='gender-m', value='male', hidden='true')
					button#but-female.female(type='button')
						input(type='radio', id='gender-f', name='gender-f', value='female', hidden='true')
					.username-box
						center
							.username-wrapper
								input#username(type='text', name='username')
							button#submit(type='submit',name='submit')
		include footer
		script
			$('#but-male').click(function(ev) {
				$('#but-male').not(this).css('background-position', '-128px 0').removeClass('s');
				if(!$(this).is('.s')){
					$(this).css('background-position', '-6px 0').addClass('s');
					$('#gender-m').attr("checked", true);
					$('#gender-f').attr("checked", false);
					$('#but-female').css('background-position', '-124px 0').removeClass('s');
				}
				else{
					$('#gender-m').attr("checked", false);
					$(this).css('background-position', '-128px 0').removeClass('s');
					$('#but-female').css('background-position', '-124px 0').removeClass('s');
				}
			});
			$('#but-female').click(function(ev) {
				$('#but-female').not(this).css('background-position', '-124px 0').removeClass('s');
				if(!$(this).is('.s')){
					$(this).css('background-position', '-2px 0').addClass('s');
					$('#gender-f').attr("checked", true);
					$('#gender-m').attr("checked", false);
					$('#but-male').css('background-position', '-128px 0').removeClass('s');
				}
				else{
					$('#gender-f').attr("checked", false);
					$(this).css('background-position', '-124px 0').removeClass('s');
					$('#but-male').css('background-position', '-128px 0').removeClass('s');
				}
			});
